.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    color: #2e2f42;
    max-width: 408px;
    font-size: 16px;
    padding: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    gap: 8px;
}

.feedback-form label {
    width: 100%;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: 0;
}

.feedback-form input {
    height: 40px;
}

.feedback-form textarea {
    height: 80px;
    resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: #000;
}

.feedback-form button {
    color: #fff;
    background: #4e75ff;
    font-weight: 500;
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

.feedback-form button:hover {
    background: #6C8CFF;
}